.track {
    border: 1px white solid;
    border-radius: 16px;
    list-style: none;
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.75rem;
    height: auto;
    gap: 10px
}

.playlistContainer {
    max-width: 100%;
    min-width: 300px
}

.trackTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.trackInfo {
    margin-bottom: 0.25rem;
}

.removeButton {
    font-weight: bolder;
    font-size: 1.5rem;
    align-self: flex-end;
    background-color: transparent;
    color: #64FFDA;
    border: none;
}

.yStack {
    flex-direction: column;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    align-items: center;
}

.albumCover {
    border-radius: 16px;
}