.track {
    border: 1px white solid;
    border-radius: 16px;
    list-style: none;
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.75rem;
    height: auto;
    gap: 10px
}

.playlistContainer {
    max-width: 500px;
    min-width: 400px;
}

.trackTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.trackInfo {
    margin-bottom: 0.25rem;
}

.removeButton {
    font-weight: bolder;
    font-size: 1.5rem;
    align-self: flex-end;
    background-color: transparent;
    color: #64FFDA;
    border: none;
}

.createButton {
    font-weight: bolder;
    font-size: 1rem;
    color: #282c34;
    background-color: white;
    border: none;
    height: 1.8rem;
    right:50px;
    padding: 0 15px;
    border-radius: 8px;
}


.yStack {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.xStack {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 10px;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    min-width: 300px;
    align-items: center;
}

.albumCover {
    border-radius: 16px;
}

.input {
    border: 1 solid black;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 10px;
    font-weight: bold;
    height: 80%;
}

